// 16S Microbiome Pipeline - Nextflow Configuration

params {
    // Input
    sample_csv = ""
    output_dir = ""
    
    // Taxonomy databases
    kraken2_db = "/cloud/wwu1/e_expat/expatstorage/reference_annotations/Microbiome/Kraken2_SILVA/16S_SILVA138_k2db"
    silva_train_set = "/cloud/wwu1/e_expat/expatstorage/reference_annotations/Microbiome/DADA2/silva_nr99_v138.2_toGenus_trainset.fa.gz"  
    silva_species_set = "/cloud/wwu1/e_expat/expatstorage/reference_annotations/Microbiome/DADA2/silva_v138.2_assignSpecies.fa.gz"  

    // Output
    qc_dir = "01.FastQC"
    CUTADAPTtrim_dir = "02.CUTADAPTTrimm"
    DADA2trim_dir = "03.DADA2Trimm"
    DADA2ERR_dir = "04.DADA2ErrorModel"
    DADA2denoise_dir = "05.DADA2Denoise"
    DADA2merge_dir = "06.DADA2Merge"
    DADA2asvtable_dir = "07.ASVTable"
    multiqc_dir = "08.MultiQC_Report"
    taxonomy_dir_kraken = "09.Taxonomy_kraken"
    taxonomy_dir_dada2 = "09.Taxonomy_dada2"
    Final_dir_kraken = "10.Aboundance_table_kraken"
    Final_dir_dada2 = "10.Aboundance_table_dada2"
}

process {
    cpus = 8
    memory = '16 GB'
    time = '24h'
    
    withName: FASTQC {
        cpus = 4
        memory = '8 GB'
        time = '4h'
    }
    
    withName: CUTADAPT {
        cpus = 4
        memory = '8 GB'
        time = '6h'
    }
    
    withName: DADA2_FILTNTRIM {
        cpus = 8
        memory = '16 GB'
        time = '12h'
    }

    withName: DADA2_ERR {
        cpus = 8
        memory = '16 GB'
        time = '12h'
    }

    withName: DADA2_DENOISING {
        cpus = 2
        memory = '16 GB'
        time = '2h'
    }

    withName: MULTIQC {
        cpus = 2
        memory = '4 GB'
        time = '2h'
    }

    withName: KRAKEN2_TAXONOMY {
        cpus = 8
        memory = '32 GB'
        time = '4h'
    }

    withName: INTEGRATE_TAXONOMY {
        cpus = 2
        memory = '8 GB'
        time = '2h'
    }

    withName: DADA2_ASSIGNTAXONOMY {
        cpus = 8
        memory = '32 GB'
        time = '4h'
    }

    withName: DADA2_TAX_TABLE {
        cpus = 2
        memory = '8 GB'
        time = '2h'
    }

    withName: KRAKEN2_TABLE {
        cpus = 2
        memory = '8 GB'
        time = '2h'
    }
}

profiles {
    
    local {
        docker.enabled = true
        executor.name = 'local'
        docker.enabled = true
    }

    palma {
        singularity.enabled = true
        singularity.cmd = 'apptainer'
        process.executor = 'slurm'
        process.queue = 'normal'
        process.clusterOptions = '--time=08:00:00'
        process.beforeScript = 'module load palma/2024a Nextflow/24.04.2 Singularity'
        workDir = "/scratch/tmp/lfarinol/nextflowtemporary"
        singularity.cacheDir = '/scratch/tmp/lfarinol/singularity_cache'
}
}